- name: Create mosquitto group
  group:
    name: mosquitto
    system: yes
  tags:
    - mqtt

- name: Create mosquitto user
  user:
    name: mosquitto
    create_home: no
    shell: /sbin/nologin
    home: /var/empty
    system: yes
  tags:
    - mqtt
  register: userinfo

- name: Create MQTT directories
  file:
    path: "{{ item }}"
    state: directory
    owner: "{{ mqtt_user }}"
    group: "{{ mqtt_group }}"
    mode: '0755'
  loop: "{{ mqtt_directories }}"
  tags:
    - mqtt
    - mqtt_config

- name: Create empty MQTT files for use by the running container
  file:
    path: "{{ item }}"
    state: touch
    owner: "{{ mqtt_user }}"
    group: "{{ mqtt_group }}"
    mode: '0644'
  loop: "{{ mqtt_touch_files }}"
  tags:
    - mqtt_config

- name: Copy MQTT config files
  template:
    src: "{{ item.name | default(item) }}"
    dest: "{{ mqtt_data_dir }}/config/{{ item.name | default(item) | splitext | first }}"
    backup: yes
    owner: "{{ mqtt_user }}"
    group: "{{ mqtt_group }}"
    mode: "{{ item.mode | default(omit) }}"
  loop: "{{ mqtt_config_files | flatten(levels=1) }}"
  notify: restart mqtt container
  tags:
    - mqtt
    - mqtt_config

- name: Run MQTT container
  docker_container:
    image: "{{ mqtt_image_name }}"
    name: "{{ mqtt_container_name }}"
    user: "{{ userinfo.uid }}:{{ userinfo.group }}"
    network_mode: "{{ mqtt_container_network_mode }}"
    restart_policy: "{{ mqtt_container_restart_policy }}"
    state: started
    published_ports: "{{ mqtt_container_published_ports }}"
    volumes: "{{ mqtt_container_volumes }}"
  tags:
    - mqtt
