# {{ ansible_managed }}
{% if mqtt_sys_interval is defined %}
sys_interval {{ mqtt_sys_interval }}
{% endif %}
{% if mqtt_store_clean_interval is defined %}
store_clean_interval {{ mqtt_store_clean_interval }}
{% endif %}
{% if mqtt_pid_file is defined %}
pid_file {{ mqtt_pid_file }}
{% endif %}
{% if mqtt_user is defined %}
user {{ mqtt_user }}
{% endif %}
{% if mqtt_max_inflight_messages is defined %}
max_inflight_messages {{ mqtt_max_inflight_messages }}
{% endif %}
{% if mqtt_max_inflight_bytes is defined %}
max_inflight_bytes {{ mqtt_max_inflight_bytes }}
{% endif %}
{% if mqtt_max_queued_messages is defined %}
max_queued_messages {{ mqtt_max_queued_messages }}
{% endif %}
{% if mqtt_max_queued_bytes is defined %}
max_queued_bytes {{ mqtt_max_queued_bytes }}
{% endif %}
{% if mqtt_queue_qos0_messages is defined %}
queue_qos0_messages {{ mqtt_queue_qos0_messages | string | lower }}
{% endif %}
{% if mqtt_message_size_limit is defined %}
message_size_limit {{ mqtt_message_size_limit }}
{% endif %}
{% if mqtt_allow_zero_length_clientid is defined %}
allow_zero_length_clientid {{ mqtt_allow_zero_length_clientid | string | lower }}
{% endif %}
{% if mqtt_auto_id_prefix is defined %}
auto_id_prefix {{ mqtt_auto_id_prefix }}
{% endif %}
{% if mqtt_persistent_client_expiration is defined %}
persistent_client_expiration {{ mqtt_persistent_client_expiration }}
{% endif %}
{% if mqtt_allow_duplicate_messages is defined %}
allow_duplicate_messages {{ mqtt_allow_duplicate_messages | string | lower }}
{% endif %}
{% if mqtt_upgrade_outgoing_qos is defined %}
upgrade_outgoing_qos {{ mqtt_upgrade_outgoing_qos | string | lower }}
{% endif %}
{% if mqtt_set_tcp_nodelay is defined %}
set_tcp_nodelay {{ mqtt_set_tcp_nodelay | string | lower }}
{% endif %}
{% if mqtt_per_listener_settings is defined %}
per_listener_settings {{ mqtt_per_listener_settings | string | lower }}
{% endif %}
{% if mqtt_bind_address is defined and mqtt_installation_method == 'native' %}
bind_address {{ mqtt_bind_address }}
{% endif %}
{% if mqtt_port is defined %}
listener {{ mqtt_port }}
{% endif %}
{% if mqtt_max_connections is defined %}
max_connections {{ mqtt_max_connections }}
{% endif %}
{% if mqtt_protocol is defined %}
protocol {{ mqtt_protocol }}
{% endif %}
{% if mqtt_http_dir is defined %}
http_dir {{ mqtt_http_dir }}
{% endif %}
{% if mqtt_use_username_as_clientid is defined %}
use_username_as_clientid {{ mqtt_use_username_as_clientid | string | lower }}
{% endif %}
{% if mqtt_cafile is defined %}
cafile {{ mqtt_cafile }}
{% endif %}
{% if mqtt_capath is defined %}
capath {{ mqtt_capath }}
{% endif %}
{% if mqtt_certfile is defined %}
certfile {{ mqtt_certfile }}
{% endif %}
{% if mqtt_keyfile is defined %}
keyfile {{ mqtt_keyfile }}
{% endif %}
{% if mqtt_tls_version is defined %}
tls_version {{ mqtt_tls_version }}
{% endif %}
{% if mqtt_require_certificate is defined %}
require_certificate {{ mqtt_require_certificate | string | lower }}
{% endif %}
{% if mqtt_use_identity_as_username is defined %}
use_identity_as_username {{ mqtt_use_identity_as_username | string | lower }}
{% endif %}
{% if mqtt_use_subject_as_username is defined %}
use_subject_as_username {{ mqtt_use_subject_as_username | string | lower }}
{% endif %}
{% if mqtt_crlfile is defined %}
crlfile {{ mqtt_crlfile }}
{% endif %}
{% if mqtt_ciphers is defined %}
ciphers {{ mqtt_ciphers }}
{% endif %}
{% if mqtt_psk_hint is defined %}
psk_hint {{ mqtt_psk_hint }}
{% endif %}
{% for item in mqtt_listeners %}
listener {{ item }}
{% endfor %}
{% if mqtt_mount_point is defined %}
mount_point {{ mqtt_mount_point }}
{% endif %}
{% if mqtt_autosave_interval is defined %}
autosave_interval {{ mqtt_autosave_interval }}
{% endif %}
{% if mqtt_autosave_on_changes is defined %}
autosave_on_changes {{ mqtt_autosave_on_changes | string | lower }}
{% endif %}
{% if mqtt_persistence is defined %}
persistence {{ mqtt_persistence | string | lower }}
{% endif %}
{% if mqtt_persistence_file is defined %}
persistence_file {{ mqtt_persistence_file }}
{% endif %}
{% if mqtt_persistence_location is defined %}
persistence_location {{ mqtt_persistence_location }}
{% endif %}
{% for item in mqtt_log_dests %}
log_dest {{ item }}
{% endfor %}
{% if mqtt_log_facility is defined %}
log_facility {{ mqtt_log_facility }}
{% endif %}
{% for item in mqtt_log_types %}
log_type {{ item }}
{% endfor %}
{% if mqtt_websockets_log_level is defined %}
websockets_log_level {{ mqtt_websockets_log_level }}
{% endif %}
{% if mqtt_connection_messages is defined %}
connection_messages {{ mqtt_connection_messages | string | lower }}
{% endif %}
{% if mqtt_log_timestamp is defined %}
log_timestamp {{ mqtt_log_timestamp | string | lower }}
{% endif %}
{% if mqtt_clientid_prefixes is defined %}
clientid_prefixes {{ mqtt_clientid_prefixes | string | lower }}
{% endif %}
{% if mqtt_allow_anonymous is defined %}
allow_anonymous {{ mqtt_allow_anonymous | string | lower }}
{% endif %}
{% if mqtt_password_file is defined %}
password_file {{ mqtt_password_file }}
{% endif %}
{% if mqtt_psk_file is defined %}
psk_file {{ mqtt_psk_file }}
{% endif %}
{% if mqtt_acl_file is defined %}
acl_file {{ mqtt_acl_file }}
{% endif %}
{% for item in mqtt_auth_plugins %}
auth_plugin {{ item }}
{% endfor %}
{% if mqtt_connection is defined %}
connection {{ mqtt_connection }}
{% endif %}
{% if mqtt_address is defined %}
address {{ mqtt_address }}
{% endif %}
{% if mqtt_topic is defined %}
topic {{ mqtt_topic }}
{% endif %}
{% if mqtt_bridge_protocol_version is defined %}
bridge_protocol_version {{ mqtt_bridge_protocol_version }}
{% endif %}
{% if mqtt_bridge_attempt_unsubscribe is defined %}
bridge_attempt_unsubscribe {{ mqtt_bridge_attempt_unsubscribe | string | lower }}
{% endif %}
{% if mqtt_round_robin is defined %}
round_robin {{ mqtt_round_robin | string | lower }}
{% endif %}
{% if mqtt_remote_clientid is defined %}
remote_clientid {{ mqtt_remote_clientid }}
{% endif %}
{% if mqtt_local_clientid is defined %}
local_clientid {{ mqtt_local_clientid | string | lower }}
{% endif %}
{% if mqtt_cleansession is defined %}
cleansession {{ mqtt_cleansession | string | lower }}
{% endif %}
{% if mqtt_notifications is defined %}
notifications {{ mqtt_notifications | string | lower }}
{% endif %}
{% if mqtt_notification_topic is defined %}
notification_topic {{ mqtt_notification_topic }}
{% endif %}
{% if mqtt_keepalive_interval is defined %}
keepalive_interval {{ mqtt_keepalive_interval }}
{% endif %}
{% if mqtt_start_type is defined %}
start_type {{ mqtt_start_type }}
{% endif %}
{% if mqtt_restart_timeout is defined %}
restart_timeout {{ mqtt_restart_timeout }}
{% endif %}
{% if mqtt_idle_timeout is defined %}
idle_timeout {{ mqtt_idle_timeout }}
{% endif %}
{% if mqtt_threshold is defined %}
threshold {{ mqtt_threshold }}
{% endif %}
{% if mqtt_try_private is defined %}
try_private {{ mqtt_try_private | string | lower }}
{% endif %}
{% if mqtt_remote_username is defined %}
remote_username {{ mqtt_remote_username }}
{% endif %}
{% if mqtt_remote_password is defined %}
remote_password {{ mqtt_remote_password }}
{% endif %}
{% if mqtt_bridge_cafile is defined %}
bridge_cafile {{ mqtt_bridge_cafile }}
{% endif %}
{% if mqtt_bridge_capath is defined %}
bridge_capath {{ mqtt_bridge_capath }}
{% endif %}
{% if mqtt_bridge_certfile is defined %}
bridge_certfile {{ mqtt_bridge_certfile }}
{% endif %}
{% if mqtt_bridge_keyfile is defined %}
bridge_keyfile {{ mqtt_bridge_keyfile }}
{% endif %}
{% if mqtt_bridge_insecure is defined %}
bridge_insecure {{ mqtt_bridge_insecure | string | lower }}
{% endif %}
{% if mqtt_bridge_identity is defined %}
bridge_identity {{ mqtt_bridge_identity }}
{% endif %}
{% if mqtt_bridge_psk is defined %}
bridge_psk {{ mqtt_bridge_psk }}
{% endif %}
{% if mqtt_include_dir is defined %}
include_dir {{ mqtt_include_dir }}
{% endif %}
